body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.game-board {
  justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
  }

  .submitted-words {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    /* background-color: yellow; */
  }

  .submitted-words.first-row {
    background-color: red;
    border: 10px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

  .submitted-words.second-row {
    background-color: blue;
    border: 10px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

  .submitted-words.third-row {
    background-color: yellow;
    border: 10px solid black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

  .submitted-words.winner {
    background-color: green;
    border: 10px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

.word-card {
  cursor: pointer;
  background-color: #f2f2f2;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* style={{backgroundColor: "gray"}} */

/* .word-card.selected {
  background-color: red; /* Red background for selected cards */
} */

/* Adjust the grid-template-columns to accommodate 3 columns when there are only 12 words */
.game-board.adjusted {
  grid-template-columns: repeat(3, 1fr);
}
/*
@media (max-width: 768px) {
  .game-board {
    grid-template-columns: repeat(3, 1fr);
  }
} */

.word-card.selected {
  background-color: lightgray; /* Selected card color */
  /* color: yellow; */
}

.control-panel {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #eaeaea;
}

.mistakes {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .mistakes {
    font-size: 16px; /* Adjust font size for mobile */
  }
}

.qb-image{
  width: 80px;
  height: 80px
}

.picture-container {
  width: 300px;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  border: 10px solid black;
}

@media (max-width: 768px) {
  .word-card {
    padding: 5px 10px; /* Adjust padding for smaller word cards */
    margin: 5px; /* Adjust margin for smaller word cards */
    font-size: 12px; /* Adjust font size for mobile */
  }
}



.control-panel button {
  margin: 0 5px; /* Add margin between the buttons */
}

.custom-modal {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

.custom-modal .modal-header {
  /* Custom header styles */
  background-color: #f8f9fa;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
}

.custom-modal .modal-body {
text-align: center;
}

.custom-modal .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimation {
  animation: fadeIn 1s ease-in-out;
}

.custom-modal .confetti-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ensure the confetti container doesn't intercept mouse events */
  z-index: 9999; /* Adjust z-index to ensure it's above other content */
}

.app-container {
  text-align: center;
}

.title-container {
  display: inline-block;
  background-color: #007bff;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
}

.title {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem; /* Adjust font size for mobile */
    letter-spacing: 1px; /* Adjust letter spacing for mobile */
  }
}
