body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.game-board {
  justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
  }

  .submitted-words {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    /* background-color: yellow; */
  }

  .submitted-words.first-row {
    background-color: red;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

  .submitted-words.second-row {
    background-color: blue;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

  .submitted-words.third-row {
    background-color: yellow;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

  .submitted-words.winner {
    background-color: green;
    /* This class is applied after the first 4 words are submitted */
    margin-bottom: 0; /* Removes spacing if it's the first row */
  }

.word-card {
  cursor: pointer;
  background-color: gray;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

/* style={{backgroundColor: "gray"}} */

/* .word-card.selected {
  background-color: red; /* Red background for selected cards */
} */

/* Adjust the grid-template-columns to accommodate 3 columns when there are only 12 words */
.game-board.adjusted {
  grid-template-columns: repeat(3, 1fr);
}

.word-card.selected {
  background-color: blue; /* Selected card color */
  color: yellow;
}

.control-panel {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #eaeaea;
}

.mistakes {
  margin-top: 10px;
}

.qb-image{
  width: 80px;
  height: 80px
}

